
# Block non-registry install sources (npm 11.10+ allow-git, 11.15+ allow-file/remote/directory).
# npm v12 will default allow-git to none; opt in early for supply-chain hardening.
allow-git=none
allow-file=none
allow-remote=none
allow-directory=none
registry=https://npm.flatt.tech/
